:root {
  --text-font: 'Roboto', sans-serif;
  --accent-color: #2196F3;
  --main-text-color:#757575;
  --background-color:#2F303A;
  --second-text-color:#FFFFFF;
  --title-color:#212121;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: var(--text-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: var(--title-color);
  text-decoration: none;
}

.logo-web {
  color: var(--accent-color);
}

.navigation-list {
  display: none;
}

.contact-list {
  display: none;
}

.burger-button,
.mobile-menu-close-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  transition: color var(--transition-duration) var(--transition-timing-function);
  width: 40px;
  height: 40px;
}

.burger-button:hover,
.burger-button:focus,
.mobile-menu-close-btn:hover,
.mobile-menu-close-btn:focus {
  fill: var(--accent-color);
}

.mobile-close-icon {
  width: 19px;
  height: 19px;
}

.burger-icon {
  width: 24px;
  height: 16px;
}

.mobile-navigation-list-link {
  text-decoration: none;
}

.mobile-menu {
  position: absolute;
  width: 100%;
  max-width: 480px;
  height: 100vh;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  z-index: 10;
  background: #FFFFFF;
  overflow: scroll;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  padding: 48px 40px;
  transition: transform var(--transition-duration) var(--transition-timing-function);
}

.mobile-menu.is-open {
  transform: translateX(-50%) translateY(0%);
}

.mobile-menu-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-navigation-list-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-navigation-list-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
  text-align: start;
}

.mobile-navigation-list-link:focus,
.mobile-navigation-list-link:hover {
  color: var(--accent-color);
}

.mobile-contact-list-item {
  margin-bottom: 32px;
}

.mobile-contact-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.mobile-contact-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: #2196F3;
  margin-bottom: 32px;
  text-decoration: none;
}

.mobile-social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;
  color: #2196F3;
  text-decoration: none;
}

.mobile-social-item:not(:first-child):before {
  content: "";
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  margin-right: 10px;
  margin-left: 10px;
}

.mobile-navigation-list {
  list-style: none;
}

.mobile-contact-list {
  list-style: none;
  margin-bottom: 64px;
}

.mobile-social-list {
  display: flex;
  justify-content: start;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .burger-button {
    display: none;
  }
  .mobile-menu-close-btn {
    display: none;
  }
  .mobile-navigation-list {
    display: none;
  }
  .mobile-contact-list {
    display: none;
  }
  .mobile-social-list {
    display: none;
  }
  .header {
    border-bottom: 1px solid #ECECEC;
  }
  .header .container {
    display: flex;
    align-items: center;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.167;
    letter-spacing: 0.03em;
    color: var(--title-color);
    text-decoration: none;
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .header .logo {
    margin-right: 88px;
  }
  .logo-web {
    color: var(--accent-color);
  }
  .navigation-list {
    list-style: none;
    display: flex;
    align-items: center;
  }
  .navigation-list-item {
    position: relative;
  }
  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation-list-link {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--title-color);
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--transition-duration) var(--transition-timing-function);
  }
  .navigation-list .navigation-list-item .navigation-list-link.current {
    color: var(--accent-color);
  }
  .navigation-list .navigation-list-item .navigation-list-link.current::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
  }
  .navigation-list-link:hover, .navigation-list-link:focus {
    color: var(--accent-color);
  }
  .contact-list {
    list-style: none;
    display: block;
    margin-left: auto;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .contact-list-item:not(:last-child) {
    margin-bottom: 10px;
  }
  .contact-mail {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.167px;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    text-decoration: none;
    width: 161px;
    height: 16px;
    transition: color var(--transition-duration) var(--transition-timing-function);
  }
  .contact-mail:hover, .contact-mail:focus {
    color: var(--accent-color);
  }
  .contact-icon {
    margin-right: 8px;
    transition: fill var(--transition-duration) var(--transition-timing-function);
  }
  .contact-mail .contact-icon {
    width: 16px;
    height: 12px;
  }
  .contact-tel .contact-icon {
    width: 10px;
    height: 16px;
  }
  .contact-mail:hover .contact-icon,
  .contact-mail:focus .contact-icon,
  .contact-tel:hover .contact-icon,
  .contact-tel:focus .contact-icon {
    fill: var(--accent-color);
  }
  .contact-tel {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.167px;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    text-decoration: none;
    width: 142px;
    height: 16px;
    transition: color var(--transition-duration) var(--transition-timing-function);
  }
  .contact-tel:hover, .contact-tel:focus {
    color: var(--accent-color);
  }
}

@media screen and (max-width: 767px) {
  .contact-list-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header .logo {
    margin-right: 93px;
  }
  .logo {
    font-size: 26px;
    line-height: 1.192;
    padding-top: 24px;
    padding-bottom: 25px;
  }
  .contact-list {
    list-style: none;
    display: flex;
    align-items: center;
    align-items: baseline;
    margin-left: auto;
  }
  .contact-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .contact-mail {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .contact-icon {
    margin-right: 10px;
  }
  .contact-tel {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.hero {
  background: var(--background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-img-mobile.jpg);
  max-width: 767px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
}

.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-text-color);
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  max-width: 360px;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 200px;
  height: 50px;
  border: none;
  padding: 10px 32px;
  cursor: pointer;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-img@2x-mobile.jpg);
    max-width: 767px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-img-tablet.jpg);
    max-width: 1199px;
    height: 400px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-img@2x-tablet.jpg);
    max-width: 1199px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.364;
    max-width: 700px;
  }
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-img-desktop.jpg);
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-Img@2x-desktop.jpg);
  }
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

.features-list {
  list-style: none;
  display: inline-block;
}

.features-item {
  width: 450px;
}

.features-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features-icon {
  width: 70px;
  height: 70px;
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -15px;
  }
  .features-item {
    width: 354px;
    margin: 15px;
  }
  .features-svg {
    width: 354px;
  }
  .features-title {
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .features-item {
    width: 270px;
  }
  .features-svg {
    width: 270px;
  }
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .work {
    padding-bottom: 94px;
  }
  .work-title {
    margin-bottom: 50px;
    text-align: center;
  }
  .work-list,
  .team-list {
    list-style: none;
  }
  .work-list {
    display: flex;
    justify-content: space-between;
  }
  .work-item {
    position: relative;
  }
  .work-item:not(:last-child) {
    margin-right: 30px;
  }
  /* .work-item::before {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
} */
  .work-box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
  }
  .work-description {
    position: absolute;
    left: 50%;
    bottom: 27px;
    width: 100%;
    transform: translate(-50%);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-text-color);
  }
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #F5F4FA;
  margin-left: auto;
  margin-right: auto;
}

.team-list {
  display: block;
  list-style: none;
}

.team-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

.team-section {
  background-color: var(--second-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-section:not(:last-child) {
  margin-bottom: 30px;
}

.team-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.186;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.team-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.186;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  text-align: center;
  margin-bottom: 16px;
}

.team-social-list {
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.team-social-item {
  width: 44px;
  height: 44px;
}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--second-text-color);
  border-radius: 50%;
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.team-social-link:hover, .team-social-link:focus {
  background-color: var(--accent-color);
}

.team-social-icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.team-social-link:hover .team-social-icon,
.team-social-link:hover .team-social-icon,
.team-social-link:focus .team-social-icon,
.team-social-link:focus .team-social-icon {
  fill: var(--second-text-color);
}

@media screen and (max-width: 767px) {
  .team-section
:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    margin: -15px;
  }
  .team-section {
    width: 354px;
    height: 536px;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    margin-bottom: 50px;
  }
  .team-section {
    width: 270px;
    height: 428px;
  }
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.our-clients {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 30px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-wrap: wrap;
  margin: -15px;
}

.clients-item {
  width: 210px;
  height: 90px;
  margin: 15px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color var(--transition-duration) var(--transition-timing-function);
}

.clients-link:hover, .clients-link:focus {
  border-color: var(--accent-color);
}

.clients-icon {
  fill: #AFB1B8;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .clients-item {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .clients-item {
    width: 170px;
  }
}

.footer {
  background: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo {
  padding: 0;
  color: var(--second-text-color);
}

.address-info {
  margin-bottom: 60px;
  text-align: center;
}

.footer .logo {
  color: var(--second-text-color);
}

.logo-box {
  margin-bottom: 20px;
}

.address-list {
  list-style: none;
}

.address-item:not(:last-child) {
  margin-bottom: 8px;
}

.address-map {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  text-decoration: none;
  font-style: normal;
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.address-map:hover, .address-map:focus {
  color: var(--accent-color);
}

.address-mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.address-mail:hover, .address-mail:focus {
  color: var(--accent-color);
}

.address-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.address-tel:hover, .address-tel:focus {
  color: var(--accent-color);
}

.footer-social-item {
  list-style: none;
}

.footer-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
}

.footer-social {
  margin-bottom: 60px;
  text-align: center;
}

.footer-social-call {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);
  margin-bottom: 20px;
}

.footer-social-item {
  width: 44px;
  height: 44px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.footer-social-link:hover, .footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: var(--second-text-color);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.footer-social-link:hover .footer-social-icon,
.footer-social-link:focus .footer-social-icon {
  fill: var(--second-text-color);
}

.footer-subscription {
  text-align: center;
}

.footer-subscription-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer-form-input {
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2F303A;
  padding-left: 16px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-button {
  position: relative;
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  padding-top: 10px;
  padding-right: 62px;
  padding-bottom: 10px;
  padding-left: 29px;
}

.footer-form-icon {
  position: absolute;
  top: 50%;
  left: 148px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .tablet-style-footer {
    display: flex;
    justify-content: space-around;
  }
  .footer-form-button {
    display: block;
    margin: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    justify-content: space-between;
  }
  .address-info {
    text-align: start;
    margin-right: 70px;
    margin-bottom: 0;
  }
  .logo-box {
    margin-bottom: 20px;
  }
  .address-item:not(:last-child) {
    margin-bottom: 9px;
  }
  .footer .container {
    display: flex;
    align-items: baseline;
  }
  .footer-social {
    text-align: start;
    margin-right: 93px;
    margin-bottom: 0;
  }
  .footer-form-input {
    width: 358px;
  }
  .footer-form-button {
    display: inline-block;
  }
  .footer-subscription {
    text-align: start;
  }
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-duration) var(--transition-timing-function), visibility var(--transition-duration) var(--transition-timing-function), pointer-events var(--transition-duration) var(--transition-timing-function);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 450px;
  height: 95%;
  max-height: 609px;
  overflow: scroll;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  Width: 30px;
  Height: 30px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
}

.modal-icon {
  Width: 11px;
  Height: 11px;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.modal-close-btn:focus .modal-icon,
.modal-close-btn:hover .modal-icon {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-title {
  display: block;
  width: 100%;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-form-input-label {
  margin-bottom: 10px;
}

.modal-form-input-name {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--transition-duration) var(--transition-timing-function);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background: #FFFFFF;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  display: block;
  width: 100%;
  height: 120px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  transition: border-color var(--transition-duration) var(--transition-timing-function);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-label-policy {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
  cursor: pointer;
}

.modal-form-label-policy::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  /* outline: 1px #212121; */
  margin-right: 10px;
  background-image: url(../images/check-box.svg);
}

.modal-form-check-policy:checked + .modal-form-label-policy::before {
  background-image: url(../images/check-box-1.svg);
  background-color: var(--accent-color);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.modal-form-check-policy:focus + .modal-form-label-policy::before {
  box-shadow: 0 0 0 2px var(--accent-color);
}

.modal-form-button {
  align-self: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  width: 200px;
  height: 50px;
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 55px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    max-height: 581px;
  }
  .modal-form-label-policy {
    font-size: 14px;
    line-height: 1.714;
  }
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

.portfolio-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.portfolio-item {
  margin-bottom: 15px;
}

.portfolio-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-nav {
  list-style: none;
}

.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background: #F5F4FA;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  cursor: pointer;
  transition: background-color var(--transition-duration) var(--transition-timing-function), color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function);
}

.portfolio-button:hover, .portfolio-button:focus {
  background: var(--accent-color);
  color: var(--second-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-nav {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.portfolio-nav-list {
  margin: 15px;
}

.overlay-box {
  position: relative;
  overflow: hidden;
}

.overlay-description {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  padding: 80px 24px;
  transition: transform var(--transition-duration) var(--transition-timing-function);
}

.portfolio-nav-link:hover .overlay-description,
.portfolio-nav-link:focus .overlay-description {
  transform: translateY(0);
}

.portfolio-nav-link {
  display: block;
  text-decoration: none;
  transition: box-shadow var(--transition-duration) var(--transition-timing-function);
}

.portfolio-nav-link:hover, .portfolio-nav-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-box {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  background: var(--second-text-color);
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
}

.portfolio-nav-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}

.portfolio-nav-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-list {
    justify-content: center;
  }
  .portfolio-item {
    margin-bottom: 0;
  }
  .portfolio-list {
    margin-bottom: 30px;
  }
  .overlay-description {
    padding: 55px 24px;
  }
  .portfolio-box {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .portfolio-list {
    margin-bottom: 50px;
  }
  .overlay-description {
    padding: 70px 24px;
  }
  .portfolio-list {
    justify-content: center;
  }
}
/*# sourceMappingURL=main.css.map */