.portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
}

.portfolio-list {
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   margin-bottom: 40px;
}

.portfolio-item{
    &:not(:last-child) {
    margin-right: 8px;
    }
    margin-bottom: 15px;
}

.portfolio-nav {
    list-style: none;
}

.portfolio-button {
font-weight: 500;
font-size: 16px;
line-height: 1.625;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-color);

background: #F5F4FA;
border-radius: 4px;
border:none;
padding: 6px 22px;
cursor: pointer;
transition: background-color var(--transition-duration) var(--transition-timing-function),
color var(--transition-duration) var(--transition-timing-function),
box-shadow var(--transition-duration) var(--transition-timing-function);
&:hover,
&:focus {
background: var(--accent-color);
color: var(--second-text-color);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
}

 .portfolio-nav {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
    
    .portfolio-nav-list {
        margin: 15px;
    }

.overlay-box {
    position: relative;
    overflow: hidden;
}

.overlay-description {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.555;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    padding: 80px 24px;
    transition: transform var(--transition-duration) var(--transition-timing-function);
    .portfolio-nav-link:hover &,
    .portfolio-nav-link:focus & {
    transform: translateY(0);
}
}


.portfolio-nav-link{
    display: block;
    text-decoration: none;
    transition: box-shadow var(--transition-duration) var(--transition-timing-function);
    &:hover,
    &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
}

.portfolio-box {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    background: var(--second-text-color);
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
}

.portfolio-nav-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);

    margin-bottom: 4px;
}

.portfolio-nav-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color:var(--main-text-color);
}


@media screen and (min-width: 768px) {
    .portfolio-list {
        justify-content: center;
    }
    .portfolio-item {
        margin-bottom: 0;
    }
    .portfolio-list {
        margin-bottom: 30px;
    }
    .overlay-description {
        padding: 55px 24px;
     }
}

@media screen and (min-width: 1200px) {
       .portfolio {
          padding-top: 94px;
          padding-bottom: 94px;
}
        .portfolio-list {
           margin-bottom: 50px;
}
         .overlay-description {
            padding: 70px 24px;
         }
}

// .portfolio {
//     padding-top: 94px;
//     padding-bottom: 94px;
// }

// .portfolio-list {
//    list-style: none;
//    display: flex;
//    justify-content: center;
//    margin-bottom: 50px;
// }

// .portfolio-item{
//     &:not(:last-child) {
//     margin-right: 8px;
//     }
// }

// .portfolio-nav {
//     list-style: none;
// }

// .portfolio-button {
// font-weight: 500;
// font-size: 16px;
// line-height: 1.625;
// text-align: center;
// letter-spacing: 0.03em;
// color: var(--title-color);

// background: #F5F4FA;
// border-radius: 4px;
// border:none;
// padding: 6px 22px;
// cursor: pointer;
// transition: background-color var(--transition-duration) var(--transition-timing-function),
// color var(--transition-duration) var(--transition-timing-function),
// box-shadow var(--transition-duration) var(--transition-timing-function);
// &:hover,
// &:focus {
// background: var(--accent-color);
// color: var(--second-text-color);
// box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
// }

// }

// .portfolio-nav {
//     display: flex;
//     flex-wrap: wrap;
//     margin: -15px;
// }

// .portfolio-nav-list {
//     margin: 15px;
// }

// .overlay-box {
//     position: relative;
//     overflow: hidden;
// }

// .overlay-description {
//     position: absolute;
//     top: 0;
//     left: 0;
//     font-weight: 400;
//     font-size: 18px;
//     line-height: 1.555;
//     letter-spacing: 0.03em;
//     color: #FFFFFF;
//     background: rgba(33, 150, 243, 0.9);
//     transform: translateY(100%);
//     padding: 70px 24px;
//     transition: transform var(--transition-duration) var(--transition-timing-function);
//     .portfolio-nav-link:hover &,
//     .portfolio-nav-link:focus & {
//     transform: translateY(0);
// }
// }


// .portfolio-nav-link{
//     display: block;
//     text-decoration: none;
//     transition: box-shadow var(--transition-duration) var(--transition-timing-function);
//     &:hover,
//     &:focus {
//     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
// }
// }

// .portfolio-box {
//     padding-top: 20px;
//     padding-right: 24px;
//     padding-bottom: 20px;
//     padding-left: 24px;
//     background: var(--second-text-color);
//     border: 1px solid #EEEEEE;
//     box-sizing: border-box;
// }

// .portfolio-nav-title {
//     font-weight: 700;
//     font-size: 18px;
//     line-height: 2;
//     letter-spacing: 0.06em;
//     color: var(--title-color);

//     margin-bottom: 4px;
// }

// .portfolio-nav-description {
//     font-weight: 400;
//     font-size: 16px;
//     line-height: 1.875;
//     letter-spacing: 0.03em;
//     color:var(--main-text-color);
// }