.clients {
    padding-top: 94px;
    padding-bottom: 94px;
    /* background-color: #E5E5E5; */
}

.our-clients {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-color);
    margin-bottom: 50px;
}


.clients-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.clients-item {
    width: 170px;
    height: 90px;
}

.clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    transition: border-color var(--transition-duration) var(--transition-timing-function);
    &:hover,
    &:focus {
    border-color: var(--accent-color);
}
}

.clients-icon {
    fill: #AFB1B8;
    transition: fill var(--transition-duration) var(--transition-timing-function);
    .clients-link:hover &,
    .clients-link:focus & {
    fill: var(--accent-color);
}
}

