
.features {
        padding-top: 60px;
        padding-bottom: 60px;
    }

.features-list{
    list-style: none;
    display: inline-block;
}

.features-item {
    width: 450px;
}

.features-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;

    margin-bottom: 30px;
}    

.features-icon {
        width: 70px;
        height: 70px;
    }

.features-title {  
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;

    margin-bottom: 10px;
}

.description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #757575;

    margin-bottom: 30px;
}










// .features {
//     padding-top: 94px;
//     padding-bottom: 94px;
// }

// .features-list{
//     list-style: none;
//     display: flex;
// }

// .features-item {
//     width: 270px;
//     &:not(:last-child) {
//     margin-right: 30px;
//         }
// }


// .features-svg {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 270px;
//     height: 120px;
//     background: #F5F4FA;
//     border-radius: 4px;

//     margin-bottom: 30px;
// }

// .features-icon {
//     width: 70px;
//     height: 70px;
// }


// .features-title {
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.143;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     color:var(--title-color);

//     margin-bottom: 10px;
// }

// .description {
//     font-weight:400;
//     font-size: 14px;
//     line-height: 1.714;
//     letter-spacing: 0.03em;
//     color:var(--main-text-color);
// }