

.footer{
    background:var(--background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer .logo {
    padding: 0;
    color: var(--second-text-color)
}


.address-info {
    margin-bottom: 60px;
    text-align: center;
}

.footer .logo {
    color: var(--second-text-color)
}

.logo-box {
    margin-bottom: 20px;
}

.address-list {
    list-style: none;
}

.address-item {
    &:not(:last-child) {
        margin-bottom: 8px;
   }
}

.address-map {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    text-decoration: none;
    font-style: normal;
    transition: color var(--transition-duration) var(--transition-timing-function);
    &:hover,
    &:focus {
   color:var(--accent-color)
}
}

.address-mail {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
    transition: color var(--transition-duration) var(--transition-timing-function);
    &:hover,
    &:focus {
   color:var(--accent-color)
}
}

.address-tel {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
    transition: color var(--transition-duration) var(--transition-timing-function);
    &:hover,
    &:focus {
   color:var(--accent-color)
}
}

.footer-social-item {
    list-style: none;
    &:not(:last-child) {
        margin-right: 10px;
    }
}

.footer-social-list {
    display: flex;
    justify-content: center;
}


.footer-social {
    margin-bottom: 60px;
    text-align: center;
}

.footer-social-call {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-text-color);

    margin-bottom: 20px;
}

.footer-social-item {
    width: 44px;
    height: 44px;
}

.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--transition-duration) var(--transition-timing-function);
    &:hover,
    &:focus {
    background-color: var(--accent-color);
}
}

.footer-social-icon {
    width: 20px;
    height: 20px;
    fill: var(--second-text-color);
    transition: fill var(--transition-duration) var(--transition-timing-function);
    .footer-social-link:hover &,
    .footer-social-link:focus & {
    fill:var(--second-text-color);
}
}

.footer-subscription {
    text-align: center;
}

.footer-subscription-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;

    margin-bottom: 20px;
}

.footer-form-input {
    width: 450px;
    height: 50px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: #2F303A;

    padding-left: 16px;
    margin-bottom: 20px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-form-button {
    position: relative;
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    padding-top: 10px;
    padding-right: 62px;
    padding-bottom: 10px;
    padding-left: 29px;
}


.footer-form-icon {
    position: absolute;
    top: 50%;
    left: 148px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
}

@media screen and (min-width: 768px) {
    .tablet-style-footer {
        display: flex;
        justify-content: space-around;
    }
    .footer-form-button {
         display: block;  
         margin: auto;
         }
}


@media screen and (min-width: 1200px) {
    .footer .container{
    justify-content: space-between;
}
    .address-info {
    text-align: start;
    margin-right: 70px;
    margin-bottom: 0;
}

.logo-box {
    margin-bottom: 20px;
}

.address-item {
    &:not(:last-child) {
        margin-bottom: 9px;
   }
}

 .footer .container{
    display: flex;
    align-items: baseline;
}

.footer-social {
    text-align: start;
    margin-right: 93px;
    margin-bottom: 0;
}

.footer-form-input {
    width: 358px;
}

.footer-form-button {
    display: inline-block;
}

.footer-subscription {
    text-align: start;
}

}




// .footer{
//     background:var(--background-color);
//     padding-top: 60px;
//     padding-bottom: 60px;
// }

// .footer .container{
//     justify-content: space-between;
// }

// .address-info {
//     margin-right: 70px;
// }

// .footer .logo {
//     padding: 0;
//     color: var(--second-text-color)
// }

// .logo-box {
//     margin-bottom: 20px;
// }

// .address-list {
//     list-style: none;
// }

// .address-item {
//     &:not(:last-child) {
//         margin-bottom: 9px;
//    }
// }


// .address-map {
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 1.714;
//     letter-spacing: 0.03em;
//     color: var(--second-text-color);
//     text-decoration: none;
//     font-style: normal;
//     transition: color var(--transition-duration) var(--transition-timing-function);
//     &:hover,
//     &:focus {
//    color:var(--accent-color)
// }
// }

// .address-mail {
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 1.714;
//     letter-spacing: 0.03em;
//     color: rgba(255, 255, 255, 0.6);
//     text-decoration: none;
//     font-style: normal;
//     transition: color var(--transition-duration) var(--transition-timing-function);
//     &:hover,
//     &:focus {
//    color:var(--accent-color)
// }
// }

// .address-tel {
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 1.714;
//     letter-spacing: 0.03em;
//     color: rgba(255, 255, 255, 0.6);
//     text-decoration: none;
//     font-style: normal;
//     transition: color var(--transition-duration) var(--transition-timing-function);
//     &:hover,
//     &:focus {
//    color:var(--accent-color)
// }
// }

// .footer-social-item {
//     list-style: none;
//     &:not(:last-child) {
//         margin-right: 10px;
//     }
// }

//  .footer .container{
//     display: flex;
//     align-items: baseline;
// }

// .footer-social-list {
//     display: flex;
// }


// .footer-social {
//     margin-right: 93px;
// }

// .footer-social-call {
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.143;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     color: var(--second-text-color);

//     margin-bottom: 20px;
// }

// .footer-social-item {
//     width: 44px;
//     height: 44px;
// }

// .footer-social-link {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 100%;
//     height: 100%;
//     border-radius: 50%;
//     background-color: rgba(255, 255, 255, 0.1);
//     transition: background-color var(--transition-duration) var(--transition-timing-function);
//     &:hover,
//     &:focus {
//     background-color: var(--accent-color);
// }
// }

// .footer-social-icon {
//     width: 20px;
//     height: 20px;
//     fill: var(--second-text-color);
//     transition: fill var(--transition-duration) var(--transition-timing-function);
//     .footer-social-link:hover &,
//     .footer-social-link:focus & {
//     fill:var(--second-text-color);
// }
// }

// .footer-subscription-title{
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.143;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;

//     color: #FFFFFF;

//     margin-bottom: 20px;
// }

// .footer-form-input {
//     width: 358px;
//     height: 50px;

//     border: 1px solid rgba(255, 255, 255, 0.3);
//     box-sizing: border-box;
//     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
//     border-radius: 4px;
//     background: #2F303A;

//     padding-left: 16px;
//     margin-right: 12px;

//     font-weight: 400;
//     font-size: 16px;
//     line-height: 1.25;
//     letter-spacing: 0.03em;
//     color: rgba(255, 255, 255, 0.6);
// }

// .footer-form-button {
//     position: relative;
//     width: 200px;
//     height: 50px;
//     background: #2196F3;
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//     border-radius: 4px;
//     border: none;
//     cursor: pointer;

//     font-weight: 700;
//     font-size: 16px;
//     line-height: 1.875;
//     text-align: center;
//     letter-spacing: 0.06em;
//     color: #FFFFFF;
//     padding-top: 10px;
//     padding-right: 62px;
//     padding-bottom: 10px;
//     padding-left: 29px;
// }


// .footer-form-icon {
//     position: absolute;
//     top: 50%;
//     left: 148px;
//     transform: translateY(-50%);
//     width: 24px;
//     height: 24px;
// }