
.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
        font-family: Raleway;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 1.167;
        letter-spacing: 0.03em;
        color: var(--title-color);
        text-decoration: none;
    }

    .logo-web{
    color: var(--accent-color);
}

    .navigation-list {
        display: none;
    }

    .contact-list {
        display: none;
    }

    .burger-button,
    .mobile-menu-close-btn {
        border: none;
        background-color: transparent;
        padding: 0;
        transition: color var(--transition-duration) var(--transition-timing-function);
        width: 40px;
        height: 40px;
    }

    .burger-button:hover,
    .burger-button:focus,
    .mobile-menu-close-btn:hover,
    .mobile-menu-close-btn:focus {
        fill: var(--accent-color);
    }

    .mobile-close-icon {
        width: 19px;
        height: 19px;
    }

    .burger-icon {
        width: 24px;
        height: 16px;
    }

    .mobile-navigation-list-link{
        text-decoration: none;
    }

.mobile-menu {
    position: absolute;
    width: 100%;
    min-width: 320px;
    max-width: 480px;
    height: 100vh;
    max-height: 796px;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    z-index: 10;
    background: #FFFFFF;
    overflow: scroll;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    padding: 48px 40px;
    transition: transform var(--transition-duration) var(--transition-timing-function);
}

.mobile-menu.is-open {
    transform: translateX(-50%) translateY(0%);
}

.mobile-menu-close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
}

.mobile-navigation-list {
    margin-bottom: 302px;
}

.mobile-navigation-list-item{
&:not(:last-child){
    margin-bottom: 32px;
}
}


.mobile-navigation-list-link{
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: #212121;
    text-align: start;
}

.mobile-navigation-list-link:focus,
.mobile-navigation-list-link:hover {
    color: var(--accent-color);
}

.mobile-contact-list-item {
    margin-bottom: 32px;
}

    .mobile-contact-mail{
         font-weight: 500;
         font-size: 24px;
         line-height: 1.167;
         letter-spacing: 0.02em;
         color: #757575;
        text-decoration: none;
    }

    .mobile-contact-tel{
        font-weight: 500;
        font-size: 34px;
        line-height: 1.176;
        letter-spacing: 0.02em;
        color: #2196F3;
        margin-bottom: 32px;
        text-decoration: none;
    }


    .mobile-social-link{
        font-weight: 500;
        font-size: 18px;
        line-height: 1.222;
        letter-spacing: 0.02em;
        color: #2196F3;
        text-decoration: none;
    }

    .mobile-social-item:not(:first-child):before {
        content:"";
        border: 1px solid rgba(33, 33, 33, 0.2);
        transform: rotate(90deg);
        margin-right: 10px;
        margin-left: 10px;
    }

    .mobile-navigation-list {
        list-style: none;
    }

    .mobile-contact-list {
        list-style: none;
        margin-bottom: 64px;
    }

    .mobile-social-list {
        display: flex;
        justify-content: start;
        list-style: none;
    }


    @media screen and (min-width: 768px) {
        .burger-button {
          display: none;
        }
        .mobile-menu-close-btn {
            display: none;
        }
        .mobile-navigation-list {
            display: none;
        }
        .mobile-contact-list {
            display: none;
        }
        .mobile-social-list {
            display: none;
        }
        .header {
    border-bottom: 1px solid #ECECEC;
}

.header .container{
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.167;
    letter-spacing: 0.03em;
    color: var(--title-color);
    text-decoration: none;
    padding-top: 26px;
    padding-bottom: 26px;
}

.header .logo {
    margin-right: 88px;
}

.logo-web{
    color: var(--accent-color);
}


.navigation-list {
    list-style: none;
    display: flex;
    align-items: center;
}

.navigation-list-item {
    position: relative;
    &:not(:last-child) {
    margin-right: 50px;
    }
}

.navigation-list-link {
    display: block; 
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color:var(--title-color);
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--transition-duration) var(--transition-timing-function);
    .navigation-list .navigation-list-item &.current{
    color: var(--accent-color);
    }
    .navigation-list .navigation-list-item &.current::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;;
    background: var(--accent-color);
    border-radius: 2px;
    }
    &:hover,
    &:focus {
    color: var(--accent-color);
}
}

.contact-list {
    list-style: none;
    display: block;

    margin-left: 84px;
    padding-top: 21px;
    padding-bottom: 21px;
}

.contact-list-item {
    &:not(:last-child) {
    margin-bottom: 10px;
   }
}

.contact-mail {
    display: flex;
    justify-content: center; 
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.167px;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    text-decoration: none;
    width: 161px;
    height: 16px;
    transition: color var(--transition-duration) var(--transition-timing-function);
    &:hover,
    &:focus {
    color: var(--accent-color);
}
}

.contact-icon {
    margin-right: 8px;
    transition: fill var(--transition-duration) var(--transition-timing-function);
    .contact-mail & {
        width: 16px;
        height: 12px;
    }
    .contact-tel &{
        width: 10px;
        height: 16px;
    }
    .contact-mail:hover &,
    .contact-mail:focus &,
    .contact-tel:hover &,
    .contact-tel:focus & {
    fill: var(--accent-color);
}
}

.contact-tel {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.167px;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    text-decoration: none;
    width: 142px;
    height: 16px;
    transition: color var(--transition-duration) var(--transition-timing-function);
    &:hover,
    &:focus {
    color: var(--accent-color);
}
}
}

@media screen and (max-width: 767px) {
    .contact-list-item:not(:last-child) {
     margin-bottom: 10px;
}
}


    @media screen and (min-width: 1200px) {
        .header .logo {
            margin-right: 93px;
        }
        .logo {
            font-size: 26px;
            line-height: 1.192;
            padding-top: 24px;
            padding-bottom: 25px;
        }
        .contact-list {
            list-style: none;
            display: flex;
            align-items: center;
            align-items:baseline;
            margin-left: 305px;
        }
        .contact-list-item {
            &:not(:last-child) {
            margin-right: 30px;
           }
        }
        .contact-mail {
        padding-top: 32px;
        padding-bottom: 32px;
}
        .contact-icon {
        margin-right: 10px;
        }
        .contact-tel {
        padding-top: 32px;
        padding-bottom: 32px;
        }
    }    









// .header {
//     border-bottom: 1px solid #ECECEC;
// }

// .header .container{
//     display: flex;
//     align-items: center;
// }

// .navigation {
//     display: flex;
//     align-items: center;
// }

// .logo {
//     font-family: Raleway;
//     font-style: normal;
//     font-weight: 700;
//     font-size: 26px;
//     line-height: 1.292;
//     letter-spacing: 0.03em;
//     color: var(--title-color);
//     text-decoration: none;
//     padding-top: 24px;
//     padding-bottom: 25px;
// }

// .header .logo {
//     margin-right: 93px;
// }

// .logo-web{
//     color: var(--accent-color);
// }


// .navigation-list {
//     list-style: none;
//     display: flex;
//     align-items: center;
// }

// .navigation-list-item {
//     position: relative;
//     &:not(:last-child) {
//     margin-right: 50px;
//     }
// }

// .navigation-list-link {
//     display: block; 
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.143;
//     letter-spacing: 0.02em;
//     color:var(--title-color);
//     text-decoration: none;
//     padding-top: 32px;
//     padding-bottom: 32px;
//     transition: color var(--transition-duration) var(--transition-timing-function);
//     .navigation-list .navigation-list-item &.current{
//     color: var(--accent-color);
//     }
//     .navigation-list .navigation-list-item &.current::after{
//     content: "";
//     display: block;
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     height: 4px;;
//     background: var(--accent-color);
//     border-radius: 2px;
//     }
//     &:hover,
//     &:focus {
//     color: var(--accent-color);
// }
// }

// .contact-list {
//     list-style: none;
//     display: flex;
//     align-items: center;

//     margin-left: 305px;
// }

// .contact-list-item {
//     &:not(:last-child) {
//     margin-right: 30px;
//    }
// }

// .contact-mail {
//     display: flex;
//     justify-content: center; 
//     align-items: center;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 16px;
//     letter-spacing: 0.02em;
//     color: var(--main-text-color);
//     text-decoration: none;
//     padding-top: 32px;
//     padding-bottom: 32px;
//     width: 161px;
//     height: 16px;
//     transition: color var(--transition-duration) var(--transition-timing-function);
//     &:hover,
//     &:focus {
//     color: var(--accent-color);
// }
// }

// .contact-icon {
//     margin-right: 10px;
//     transition: fill var(--transition-duration) var(--transition-timing-function);
//     .contact-mail & {
//         width: 16px;
//         height: 12px;
//     }
//     .contact-tel &{
//         width: 10px;
//         height: 16px;
//     }
//     .contact-mail:hover &,
//     .contact-mail:focus &,
//     .contact-tel:hover &,
//     .contact-tel:focus & {
//     fill: var(--accent-color);
// }
// }

// .contact-tel {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 16px;
//     letter-spacing: 0.02em;
//     color: var(--main-text-color);
//     text-decoration: none;
//     padding-top: 32px;
//     padding-bottom: 32px;
//     width: 142px;
//     height: 16px;
//     transition: color var(--transition-duration) var(--transition-timing-function);
//     &:hover,
//     &:focus {
//     color: var(--accent-color);
// }
    