.header {
    border-bottom: 1px solid #ECECEC;
}

.header .container{
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.292;
    letter-spacing: 0.03em;
    color: var(--title-color);
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 25px;
}

.header .logo {
    margin-right: 93px;
}

.logo-web{
    color: var(--accent-color);
}


.navigation-list {
    list-style: none;
    display: flex;
    align-items: center;
}

.navigation-list-item {
    position: relative;
    &:not(:last-child) {
    margin-right: 50px;
    }
}

.navigation-list-link {
    display: block; 
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color:var(--title-color);
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--transition-duration) var(--transition-timing-function);
    .navigation-list .navigation-list-item &.current{
    color: var(--accent-color);
    }
    .navigation-list .navigation-list-item &.current::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;;
    background: var(--accent-color);
    border-radius: 2px;
    }
    &:hover,
    &:focus {
    color: var(--accent-color);
}
}

.contact-list {
    list-style: none;
    display: flex;
    align-items: center;

    margin-left: 305px;
}

.contact-list-item {
    &:not(:last-child) {
    margin-right: 30px;
   }
}

.contact-mail {
    display: flex;
    justify-content: center; 
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    width: 161px;
    height: 16px;
    transition: color var(--transition-duration) var(--transition-timing-function);
    &:hover,
    &:focus {
    color: var(--accent-color);
}
}

.contact-icon {
    margin-right: 10px;
    transition: fill var(--transition-duration) var(--transition-timing-function);
    .contact-mail & {
        width: 16px;
        height: 12px;
    }
    .contact-tel &{
        width: 10px;
        height: 16px;
    }
    .contact-mail:hover &,
    .contact-mail:focus &,
    .contact-tel:hover &,
    .contact-tel:focus & {
    fill: var(--accent-color);
}
}

.contact-tel {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    width: 142px;
    height: 16px;
    transition: color var(--transition-duration) var(--transition-timing-function);
    &:hover,
    &:focus {
    color: var(--accent-color);
}
}
