.hero{
    background: var(--background-color);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ), 
    url(../images/hero/bg.Img.jpg);
    max-width: 1600px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: auto;
    margin-left: auto;
    text-align:center;
    padding-top: 200px;
    padding-bottom: 200px;
}

// .hero .container {
//     text-align:center;
//     padding-top: 200px;
//     padding-bottom: 200px;
// }

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--second-text-color);

    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    max-width: 700px;
}

.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--second-text-color);
    background: var(--accent-color);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    min-width: 200px;
    height: 50px;
    border: none;
    padding: 10px 32px;
    cursor: pointer;
}