.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity var(--transition-duration) var(--transition-timing-function),
    visibility var(--transition-duration) var(--transition-timing-function),
    pointer-events var(--transition-duration) var(--transition-timing-function);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;

    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    padding: 40px;
}

.modal-close-btn { 
    position: absolute;
    top: 8px;
    right: 8px;
    Width: 30px;
    Height: 30px;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer; 
}

.modal-icon {
    Width: 11px;
    Height: 11px;
    transition: fill var(--transition-duration) var(--transition-timing-function);
    .modal-close-btn:focus &,
    .modal-close-btn:hover &{
    fill: var(--accent-color);
}
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form-title {
    display: block;
    width: 100%;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
    margin-bottom: 12px;
}

.modal-form-input-label {
    margin-bottom: 10px;
}

.modal-form-input-name {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.01em;
    color: #757575;
}

.modal-form-input-wrapper {
    display: block;
    position: relative;
}

.modal-form-input {
    display: block;
    width: 100%;
    height: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.01em;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 42px;
    transition: border-color var(--transition-duration) var(--transition-timing-function);
    &:focus {
    outline: none;
    border-color: var(--accent-color);
    }
}

.modal-form-icon {
    display: block;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    background: #FFFFFF;
    transition: fill var(--transition-duration) var(--transition-timing-function);
    .modal-form-input:focus + & {
    fill: var(--accent-color);
    }
}

.modal-form-message {
    display: block;   
    width: 100%;
    height: 120px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.01em;

    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
    padding: 12px 16px;
    transition: border-color var(--transition-duration) var(--transition-timing-function);
    &:focus {
    outline: none;
    border-color: var(--accent-color);
    }
    &::placeholder {
    color: rgba(117, 117, 117, 0.5);
    }
}

.modal-form-label-policy {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #757575;

    margin-bottom: 30px;
    cursor: pointer;

    &::before {
    display: inline-block;
    content: "";
    width: 16px;
    height: 15px;
    /* outline: 1px #212121; */
    margin-right: 10px;
    background-image: url(../images/check-box.svg);

    .modal-form-check-policy:checked + & {
        background-image: url(../images/check-box-1.svg);
        background-color: var(--accent-color);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        }
        .modal-form-check-policy:focus + & {
            box-shadow: 0 0 0 2px var(--accent-color);
        }
            }
}

.modal-form-button {
    align-self: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;

    color: #FFFFFF;
    width: 200px;
    height: 50px;
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    padding: 10px 55px;
    cursor: pointer;
}