.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background: #F5F4FA;
}

.team-list {
    display: flex;
    justify-content: space-between;
    margin: -15px;
}

.team-title {
    margin-bottom: 50px;
}

.team-section {
    margin: 15px;
    background-color: var(--second-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.work-title,
.team-title {
    font-weight:700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.team-box {
    padding: 30px 32px;
}

.team-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.186;
    letter-spacing: 0.03em;
    color:var(--title-color);

    margin-bottom: 10px;
    text-align: center;
}

.team-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.186;
    letter-spacing: 0.03em;
    color: var(--main-text-color);

    text-align: center;
    margin-bottom: 16px;
}

.team-social-list {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.team-social-item {
    width: 44px;
    height: 44px;
}

.team-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--second-text-color);
    border-radius: 50%;
    transition: background-color var(--transition-duration) var(--transition-timing-function);
    &:hover,
    &:focus {
    background-color: var(--accent-color);
}
}

.team-social-icon {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
    transition: fill var(--transition-duration) var(--transition-timing-function);
    .team-social-link:hover &,
    .team-social-link:hover &,
    .team-social-link:focus &,
    .team-social-link:focus & {
    fill: var(--second-text-color);
}
}
