
@media screen and (max-width: 1199px) {
    .work {
        display: none;
    }
}

@media screen and (min-width: 1200px) {

.work {
    padding-bottom: 94px;
}

.work-title {
    margin-bottom: 50px;
    text-align: center;
}

.work-list,
.team-list {
    list-style: none;
}

.work-list {
    display: flex;
    justify-content: space-between;
}

.work-item {
    position: relative;
    &:not(:last-child) {
    margin-right: 30px;
    }
}

/* .work-item::before {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
} */

.work-box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
}

.work-description {
    position: absolute;
    left: 50%;
    bottom: 27px;
    width: 100%;
    transform: translate(-50%);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--second-text-color);
}
}