body{
    font-family: var(--text-font)
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

@media screen and (min-width: 480px) {
    .container{
    width: 480px;
   }
}

@media screen and (min-width: 768px) {
    .container{
        width: 768px;
    }
}

@media screen and (min-width: 1200px) {
.container {
    width: 1200px;
    }
}